<!DOCTYPE html>
<html lang="en">
<%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    <section class="gatos">
        <h2>Gatos para Locação</h2>
        
        <div class="container">
            <div>
                <img src="/static/gato-1.jpg" alt="">
                <h3>Pombas</h3>
            </div>
            
            <div>
                <img src="/static/gato-1.jpg" alt="">
                <h3>Pombas</h3>
            </div>
            
            <div>
                <img src="/static/gato-1.jpg" alt="">
                <h3>Pombas</h3>
            </div>
        </div>
        
    </section>
</body>
</html>